@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@keyframes verticalscroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes horizontalscroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* 기본 폰트 설정 */
html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-size: 1.7rem;
  line-height: 1.5;
  font-family: "Pretendard", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
}

a {
  color: #1d1d1d;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: underline;
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

img {
  max-width: 100%;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #e4e4e4;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

:root {
  --swiper-theme-color: red;
}

.bg-gray {
  background-color: #f8f8f8;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_g {
  overflow: hidden;
  padding: 10vw 90px;
}
@media (max-width: 767px) {
  .sec_g {
    padding: 10vw 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sec_g {
    padding: 10vw 30px;
  }
}
.sec_g .sec_tit {
  font-size: 42px;
  line-height: 60px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .sec_g .sec_tit {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sec_g .sec_tit {
    font-size: 42px;
    line-height: 60px;
    font-weight: 700;
  }
}
.sec_g .sec_moreBtn {
  display: inline-block;
  line-height: 54px;
  padding: 0 40px;
  background: #1e1e1e;
  border-radius: 100px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease;
}
.sec_g .sec_moreBtn:hover {
  background: #223055;
  color: #fff;
}
@media (max-width: 767px) {
  .sec_g .sec_moreBtn {
    font-size: 14px;
    line-height: 48px;
    letter-spacing: 0;
    padding: 0 30px;
  }
}
.sec_g .sec_moreBtn a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  transition: color 0.1s ease;
}
.sec_g .sec_moreBtn:hover a {
  color: #fff;
}

.sec_label {
  background-color: #ffe0e8;
}
.sec_label .sec_tit {
  text-align: center;
}
.sec_label .sec_label_desc {
  font-size: 42px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .sec_label .sec_label_desc {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sec_label .sec_label_desc {
    line-height: 60px;
  }
}
.sec_label .sec_label_img {
  text-align: center;
}
.sec_label .sec_moreBtn {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  .sec_label .sec_moreBtn {
    margin-bottom: 35px;
  }
}

.sec_artist {
  display: block;
  background-color: #f0f0f0;
  margin: 0 auto;
  height: 860px;
  overflow: hidden;
  padding-left: 90px;
  padding-right: 90px;
}
@media (max-width: 767px) {
  .sec_artist {
    display: none;
  }
}
.sec_artist .inner {
  max-width: 1440px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sec_artist {
    padding: 190px 30px;
  }
}
.sec_artist .sec_moreBtn {
  cursor: pointer;
}
@media (max-width: 767px) {
  .sec_artist .sec_moreBtn {
    font-size: 14px;
    line-height: 48px;
    letter-spacing: 0;
  }
}
.sec_artist .left_box {
  width: 50%;
  padding: 110px 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sec_artist .left_box {
    width: 42%;
    padding: 0;
  }
}
.sec_artist .sec_tit {
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sec_artist .sec_tit {
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 48px;
  }
}
.sec_artist .sec_artist_box {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.sec_artist .sec_artist_box .sec_artist_tit {
  font-size: 42px;
}
.sec_artist .sec_artist_box .right_box {
  width: 43%;
  display: flex;
  gap: 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sec_artist .sec_artist_box .right_box {
    width: 58%;
    gap: 15px;
  }
}
.sec_artist .sec_artist_box .right_box .artist_card_left {
  margin-top: 90px;
}
.sec_artist .sec_artist_box .right_box .artist_card_left {
  display: flex;
  flex-direction: column;
  animation: verticalscroll 120s linear infinite;
}
.sec_artist .sec_artist_box .right_box .artist_card_left img {
  border-radius: 10px;
  margin-bottom: 15px;
}
.sec_artist .sec_artist_box .right_box .artist_card_right {
  display: flex;
  flex-direction: column;
  animation: verticalscroll 120s linear infinite;
}
.sec_artist .sec_artist_box .right_box .artist_card_right img {
  border-radius: 10px;
  margin-bottom: 15px;
}

.sec_artist_mobile {
  display: none;
  background-color: #f0f0f0;
  margin: 0 auto;
  height: 860px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .sec_artist_mobile {
    display: block;
    height: 450px;
  }
}
@media (max-width: 767px) {
  .sec_artist_mobile .sec_moreBtn {
    font-size: 14px;
    line-height: 48px;
    letter-spacing: 0;
  }
}
.sec_artist_mobile .sec_tit {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .sec_artist_mobile .sec_tit {
    font-size: 24px;
    line-height: 32px;
  }
}
.sec_artist_mobile .sec_artist_box {
  display: flex;
  gap: 30px;
}
@media (max-width: 767px) {
  .sec_artist_mobile .sec_artist_box {
    flex-direction: column;
  }
}
.sec_artist_mobile .sec_artist_box .sec_artist_tit {
  font-size: 42px;
}
@media (max-width: 767px) {
  .sec_artist_mobile .sec_artist_box .right_box .artist_card_top {
    display: flex;
    flex-direction: row;
    animation: horizontalscroll 30s linear infinite;
  }
}
.sec_artist_mobile .sec_artist_box .right_box .artist_card_top li {
  flex: 0 0 auto;
  width: 120px;
  margin-right: 10px;
}
.sec_artist_mobile .sec_artist_box .right_box .artist_card_top img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.sec_news {
  background-color: #ffe0e8;
}
.sec_news .sec_tit {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .sec_news .sec_tit {
    margin-bottom: 30px;
  }
}
.sec_news .sec_news_list {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .sec_news .sec_news_list {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sec_news .sec_news_list {
    flex-wrap: wrap;
  }
}
.sec_news .sec_news_list .news_box:hover {
  background-color: #e4e4e4;
  text-decoration: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sec_news .sec_news_list .news_box {
    width: calc(50% - 10px);
  }
}
.sec_news .news_box_item {
  display: block;
  border-radius: 20px;
  padding: 20px 30px;
}
.sec_news .news_box_item:hover {
  background-color: #e4e4e4;
  text-decoration: none;
}
@media (max-width: 767px) {
  .sec_news .news_box_item {
    position: relative;
    margin-left: 0;
    margin-bottom: 0;
    padding: 16px 0;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
  }
}
@media (max-width: 767px) {
  .sec_news .news_box_item .news_img_area {
    display: inline-block;
    margin-right: 0;
    width: 30%;
    height: 72px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
  }
}
.sec_news .news_box_item .news_img_area img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .sec_news .news_box_item .news_img_area img {
    border-radius: 3px;
  }
}
.sec_news .news_box_item .news_text_area {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  min-height: 48px;
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0;
  color: #1e1e1e;
  font-weight: 700;
  transition: 0.3s;
  word-break: keep-all;
  font-weight: 700;
}
@media (max-width: 767px) {
  .sec_news .news_box_item .news_text_area {
    display: inline-block;
    width: 72%;
    padding: 0 0 2px 25px;
    transform: translateY(-50%);
    font-size: 14px;
    position: absolute;
    top: 32px;
    right: 0;
  }
}
@media (max-width: 767px) {
  .sec_news .news_box_item .news_text_area p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.sec_news .news_box_item .news_text_area span {
  color: #8e8e8e;
}
@media (max-width: 767px) {
  .sec_news .news_box_item .news_text_area span {
    font-size: 14px;
  }
}
.sec_news .sec_moreBtn {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px auto;
}
@media (max-width: 767px) {
  .sec_news .sec_moreBtn {
    margin: 30px auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sec_news .sec_moreBtn {
    margin: 50px auto;
  }
}

.sec_banner {
  background-color: #ffe0e8;
  padding-bottom: 80px;
  margin-top: -120px;
}
@media (max-width: 767px) {
  .sec_banner {
    margin-top: -40px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sec_banner {
    margin-top: -40px;
  }
}
.sec_banner .inner {
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .sec_banner .inner {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 16px;
    width: 100%;
    border-radius: 12px;
  }
}
.sec_banner .inner strong {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 0;
}
.sec_banner .inner p {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}
.sec_banner .banner_btn {
  background-color: #fff;
  position: absolute;
  bottom: 10%;
  right: 3%;
  line-height: 48px;
  padding: 0 33px;
  display: inline-block;
  line-height: 54px;
  padding: 0 40px;
  color: #000;
  border-radius: 100px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}
.sec_banner .banner_btn:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  .sec_banner .banner_btn {
    font-size: 12px;
    padding: 0 32px;
    bottom: 5%;
    right: 3%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sec_banner .banner_btn {
    padding: 0 32px;
    bottom: 8%;
    right: 3%;
  }
}
.sec_banner .banner_item1 {
  display: inline-block;
  width: 100%;
  min-height: 160px;
  border-radius: 12px;
  padding: 28px 28px 28px 24px;
  position: relative;
  background: #223055;
}
.sec_banner .banner_item2 {
  display: inline-block;
  width: 100%;
  min-height: 160px;
  border-radius: 12px;
  padding: 28px 28px 28px 24px;
  position: relative;
  background: #223055;
}

.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide video {
  width: 100%;
  display: block;
}
.swiper .swiper-controll-box {
  position: absolute;
  bottom: 10%;
  left: 15%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 40px;
  z-index: 10;
}
@media (max-width: 767px) {
  .swiper .swiper-controll-box {
    gap: 10px;
    bottom: 10%;
    left: 18%;
  }
}
.swiper .swiper-pagination {
  margin-top: 12px;
  position: static;
  color: white;
  font-size: 24px;
}
@media (max-width: 767px) {
  .swiper .swiper-pagination {
    font-size: 16px;
    margin-top: 0;
  }
}
.swiper .swiper-button {
  display: flex;
  gap: 35px;
}
@media (max-width: 767px) {
  .swiper .swiper-button {
    gap: 10px;
  }
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  position: relative;
  width: 64px;
  height: 64px;
}
@media (max-width: 767px) {
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    width: 50px;
    height: 50px;
  }
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  display: none;
}
.swiper .swiper-button-next::before,
.swiper .swiper-button-prev::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 64px;
  color: #fff;
}
@media (max-width: 767px) {
  .swiper .swiper-button-next::before,
  .swiper .swiper-button-prev::before {
    font-size: 36px;
    top: 9px;
    left: 10px;
  }
}
.swiper .swiper-button-next::before {
  content: "\f061";
}
.swiper .swiper-button-prev::before {
  content: "\f060";
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .inner {
    padding: 0 30px;
  }
}

#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: #1d1d1d;
}
#skip-nav a:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
#skip-nav a:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  outline-offset: -0.4rem;
  outline: 2px solid #ffe0e8;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
  height: 3.2rem;
  margin: 0 auto;
  text-align: center;
}
#skip-nav.type1 {
  background-color: #fff;
}
#skip-nav.type1 a:focus {
  color: #1d1d1d;
}

#header {
  background: transparent;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
#header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  height: 73px;
}
@media (min-width: 1024px) {
  #header .inner {
    height: auto;
  }
}
#header #logo {
  transform: scale(0.8);
  transform-origin: 0 50%;
}
@media (min-width: 1024px) {
  #header #logo {
    transform: none;
  }
}
#header #logo a {
  margin-top: 16px;
  display: block;
}
#header #logo span {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

#gnb {
  display: none;
  position: relative;
}
@media (min-width: 1024px) {
  #gnb {
    display: block;
  }
}
#gnb .gnb__depth1 {
  display: flex;
}
#gnb .gnb__depth1 > li {
  position: relative;
}
#gnb .gnb__depth1 > li > a {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  padding: 0 30px;
  font-size: 1.8rem;
}
#gnb .gnb__depth1 > li > a:hover {
  text-decoration: none;
  color: #223055;
}
#gnb .gnb__depth1 > li > a span {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.util {
  display: flex;
  gap: 10px;
}
.util .lang {
  cursor: pointer;
  position: relative;
}
.util .lang .lang__btn {
  font-size: 38px;
  color: white;
}
.util .lang .lang__btn:hover {
  color: #223055;
}
.util .lang.active .lang__lst {
  display: block;
}
.util .lang__btn {
  height: 57px;
  margin-right: 10px;
  text-transform: uppercase;
}
.util .lang__lst {
  display: none;
  position: absolute;
  top: 52px;
  left: -65px;
  width: 100px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  overflow: hidden;
}
.util .lang__lst li {
  padding: 10px 5px;
  text-transform: uppercase;
}
.util .lang__lst li:hover {
  background-color: #ffe0e8;
}
.util .lang__lst li:first-child {
  border-bottom: 1px solid #c6c6c6;
}
@media (min-width: 1024px) {
  .util .all-menu {
    display: none;
  }
}
.util .all-menu::before {
  content: "\f0c9";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
  color: white;
}

#nav-all {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.3s;
}
#nav-all .nav-all-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#nav-all .nav-all-header .nav-all-header .close {
  font-size: 3rem;
  color: #1d1d1d;
  cursor: pointer;
}
#nav-all .nav-all-header .nav-all-header .close .blind {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
#nav-all.active {
  display: block;
  left: 0;
}
#nav-all.active .gnb__depth1 li {
  padding: 18px 0px;
  border-bottom: 1px solid #e4e4e4;
}
#nav-all.active .gnb__depth1 li a {
  font-size: 18px;
  font-weight: 700;
  color: #aaa;
}
#nav-all.active .gnb__depth1 li a:hover {
  text-decoration: none;
  color: #223055;
}

#header.scrolled {
  background-color: #fff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
#header.scrolled .gnb__depth1 > li > a {
  color: #1d1d1d;
}
#header.scrolled .gnb__depth1 > li > a:hover {
  color: #ffe0e8;
}
#header.scrolled .util .lang .lang__btn {
  color: #1d1d1d;
}
#header.scrolled .util .lang .lang__btn:hover {
  color: #ffe0e8;
}
#header.scrolled .lang__lst li:hover {
  background: #223055;
  color: #fff;
}
#header.scrolled .util .all-menu::before {
  color: #1d1d1d;
}
#header.scrolled #logo svg path {
  fill: black;
  transition: fill 0.3s ease;
}

#footer {
  background: #f9f9f9;
  overflow: hidden;
  padding-bottom: 50px;
}
#footer .foot_content_mo {
  display: none;
}
@media (max-width: 767px) {
  #footer .foot_content_mo {
    display: block;
    padding: 30px 20px;
  }
}
#footer .foot_content_mo .footer_left {
  width: 100%;
}
#footer .foot_content_mo .footer_right {
  width: 100%;
}

.foot_content_pc {
  margin: 0 auto 50px;
  max-width: 1440px;
  position: relative;
  padding: 50px 0;
  color: #999;
}
@media (max-width: 767px) {
  .foot_content_pc {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .foot_content_pc {
    padding: 50px 30px;
  }
}
@media (max-width: 767px) {
  .foot_content_pc {
    padding: 30px 20px;
  }
}

.footer_logo {
  transform: scale(0.8);
  transform-origin: 0 50%;
}
.footer_logo a {
  margin-top: 16px;
  display: block;
}
.footer_logo span {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.footer_left {
  width: calc(100% - 156px);
  float: left;
  text-align: left;
}
.footer_left .copyright {
  font-size: 12px;
  line-height: 20px;
  color: #999;
  font-weight: 700;
}
.footer_left .link_txt {
  display: inline-block;
  margin-right: 9%;
  margin-bottom: 10px;
}
.footer_left .link_social {
  font-size: 12px;
  display: inline-block;
}
.footer_left .link_social li {
  display: inline-block;
  margin-left: 24px;
  text-align: right;
}
@media (max-width: 767px) {
  .footer_left .link_social li {
    margin-left: 0;
    margin-right: 20px;
  }
}

.footer_right {
  width: auto;
  float: right;
  text-align: right;
}

.slide-intro .swiper-slide {
  width: 100%;
  height: 100vh;
  min-height: 500px;
}
.slide-intro .swiper-slide video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide-intro .swiper-pagination {
  display: block;
}
.slide-intro .swiper-button-next,
.slide-intro .swiper-button-prev {
  display: block;
}

@media screen and (min-width: 600px) {
  .slide-intro .swiper-slide {
    min-height: 600px;
  }
}
@media screen and (min-width: 1024px) {
  .slide-intro .swiper-slide {
    min-height: 700px;
  }
}
.slide-studio {
  overflow: visible;
  margin-left: 0;
}
.slide-studio .swiper-pagination {
  bottom: -50px;
}/*# sourceMappingURL=styles.css.map */