// 사이트 공통 스타일
:root {
  --swiper-theme-color: red;
}

.bg-gray {
  background-color: $gray-5;
}

// section 전역 스타일

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_g {
  overflow: hidden;
  padding: 10vw 90px;
  @include mobile {
    padding: 10vw $p-mobile;
  }
  @include tablet {
    padding: 10vw $p-tablet;
  }
  .sec_tit {
    @include mobile {
      font-size: 24px;
      line-height: 32px;
    }
    @include tablet {
      font-size: 42px;
      line-height: 60px;
      font-weight: 700;
    }
    font-size: 42px;
    line-height: 60px;
    font-weight: $font-bold;
  }
  .sec_moreBtn {
    display: inline-block;
    line-height: 54px;
    padding: 0 40px;
    background: #1e1e1e;
    border-radius: 100px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: all 0.1s ease;
    &:hover {
      background: $secondary;
      color: #fff;
    }

    @include mobile {
      font-size: 14px;
      line-height: 48px;
      letter-spacing: 0;
      padding: 0 30px;
    }
    a {
      color: inherit;
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
      transition: color 0.1s ease;
    }
    &:hover a {
      color: #fff;
    }
  }
}

.sec_label {
  background-color: $primary;
  .sec_tit {
    text-align: center;
  }
  .sec_label_desc {
    @include mobile {
      font-size: 24px;
    }
    @include tablet {
      line-height: 60px;
    }
    font-size: 42px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: $font-bold;
  }
  .sec_label_img {
    text-align: center;
  }
  .sec_moreBtn {
    @include mobile {
      margin-bottom: 35px;
    }
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
  }
}

.sec_artist {
  display: block;
  @include mobile {
    display: none;
  }
  .inner {
    max-width: 1440px;
  }
  @include tablet {
    padding: 190px $p-tablet;
  }
  background-color: $gray-10;
  margin: 0 auto;
  height: 860px;
  overflow: hidden;
  padding-left: 90px;
  padding-right: 90px;
  .sec_moreBtn {
    cursor: pointer;

    @include mobile {
      font-size: 14px;
      line-height: 48px;
      letter-spacing: 0;
    }
  }
  .left_box {
    @include tablet {
      width: 42%;
      padding: 0;
    }
    width: 50%;
    padding: 110px 0;
  }
  .sec_tit {
    margin-bottom: 30px;
    @include tablet {
      font-size: 42px;
      line-height: 60px;

      margin-bottom: 48px;
    }
  }
  .sec_artist_box {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    .sec_artist_tit {
      font-size: 42px;
    }
    .right_box {
      @include tablet {
        width: 58%;
        gap: 15px;
      }
      width: 43%;
      display: flex;
      gap: 20px;
      .artist_card_left {
        margin-top: 90px;
      }
      .artist_card_left {
        display: flex;
        flex-direction: column;
        animation: verticalscroll 120s linear infinite;
        img {
          border-radius: 10px;
          margin-bottom: 15px;
        }
      }
      .artist_card_right {
        display: flex;
        flex-direction: column;
        animation: verticalscroll 120s linear infinite;
        img {
          border-radius: 10px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
.sec_artist_mobile {
  display: none;
  @include mobile {
    display: block;
    height: 450px;
  }

  background-color: $gray-10;
  margin: 0 auto;
  height: 860px;
  overflow: hidden;
  .sec_moreBtn {
    @include mobile {
      font-size: 14px;
      line-height: 48px;
      letter-spacing: 0;
    }
  }
  .sec_tit {
    margin-bottom: 30px;
    @include mobile {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .sec_artist_box {
    @include mobile {
      flex-direction: column;
    }
    display: flex;
    gap: 30px;
    .sec_artist_tit {
      font-size: 42px;
    }
    .right_box {
      .artist_card_top {
        @include mobile {
          display: flex;
          flex-direction: row;
          animation: horizontalscroll 30s linear infinite;
        }
        li {
          flex: 0 0 auto; // 너비 자동 계산, 축소 방지
          width: 120px; // 필요 시 고정 너비 지정
          margin-right: 10px;
        }
        img {
          width: 100%;
          height: auto;
          display: block;
          border-radius: 10px;
        }
      }
    }
  }
}

.sec_news {
  background-color: $primary;
  .sec_tit {
    margin-bottom: 60px;
    @include mobile {
      margin-bottom: 30px;
    }
  }

  .sec_news_list {
    display: flex;
    gap: 20px;

    @include mobile {
      display: block;
    }
    @include tablet {
      flex-wrap: wrap;
    }
    .news_box {
      &:hover {
        background-color: $gray-20;
        text-decoration: none;
      }
      @include tablet {
        width: calc(50% - 10px);
      }
    }
  }
  .news_box_item {
    display: block;
    border-radius: 20px;
    padding: 20px 30px;
    &:hover {
      background-color: $gray-20;
      text-decoration: none;
    }

    @include mobile {
      position: relative;
      margin-left: 0;
      margin-bottom: 0;
      padding: 16px 0;
      width: 100%;
      border-bottom: 1px solid $gray-20;
    }
    .news_img_area {
      @include mobile {
        display: inline-block;
        margin-right: 0;
        width: 30%;
        height: 72px;
        border-radius: 12px;
        position: relative;
        overflow: hidden;
      }
      img {
        @include mobile {
          border-radius: 3px;
        }
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }
    .news_text_area {
      @include mobile {
        display: inline-block;
        width: calc(100% - 28%);
        padding: 0 0 2px 25px;
        transform: translateY(-50%);
        font-size: 14px;
        position: absolute;
        top: 32px;
        right: 0;
      }
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;
      min-height: 48px;
      font-size: 18px;
      line-height: 24px;
      margin: 20px 0;
      color: #1e1e1e;
      font-weight: 700;
      transition: 0.3s;
      word-break: keep-all;
      font-weight: 700;
      p {
        @include mobile {
          display: -webkit-box;
          -webkit-line-clamp: 2; // 줄 수 설정
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      span {
        color: $gray-50;
        @include mobile {
          font-size: 14px;
        }
      }
    }
  }
  .sec_moreBtn {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px auto;
    @include mobile {
      margin: 30px auto;
    }
    @include tablet {
      margin: 50px auto;
    }
  }
}

.sec_banner {
  background-color: $primary;
  padding-bottom: 80px;

  @include mobile {
    margin-top: -40px;
  }
  @include tablet {
    margin-top: -40px;
  }
  margin-top: -120px;
  .inner {
    @include mobile {
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 16px;
      width: 100%;
      border-radius: 12px;
    }
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 0 20px;
    strong {
      font-size: 16px;
      line-height: 22px;
      color: #fff;
      display: block;
      margin-bottom: 10px;
      font-weight: 700;
      letter-spacing: 0;
    }
    p {
      font-size: 20px;
      line-height: 30px;
      color: #fff;
      font-weight: 700;
    }
  }
  .banner_btn {
    background-color: #fff;
    &:hover {
      text-decoration: none;
    }
    @include mobile {
      font-size: 12px;
      padding: 0 32px;
      bottom: 5%;
      right: 3%;
    }
    @include tablet {
      padding: 0 32px;
      bottom: 8%;
      right: 3%;
    }
    position: absolute;
    bottom: 10%;
    right: 3%;
    line-height: 48px;
    padding: 0 33px;
    display: inline-block;
    line-height: 54px;
    padding: 0 40px;
    color: #000;
    border-radius: 100px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
  }
  .banner_item1 {
    display: inline-block;
    width: 100%;
    min-height: 160px;
    border-radius: 12px;
    padding: 28px 28px 28px 24px;
    position: relative;
    background: $secondary;
  }
  .banner_item2 {
    display: inline-block;
    width: 100%;
    min-height: 160px;
    border-radius: 12px;
    padding: 28px 28px 28px 24px;
    position: relative;
    background: $secondary;
  }
}

// swiper 전역 스타일
.swiper {
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    video {
      width: 100%;
      display: block;
    }
  }
  .swiper-controll-box {
    position: absolute;
    bottom: 10%;
    left: 15%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 40px;
    z-index: 10;
    @include mobile {
      gap: 10px;
      bottom: 10%;
      left: 18%;
    }
  }

  .swiper-pagination {
    margin-top: 12px;
    position: static;
    color: white;
    font-size: 24px;
    @include mobile {
      font-size: 16px;
      margin-top: 0;
    }
  }

  .swiper-button {
    display: flex;
    gap: 35px;
    @include mobile {
      gap: 10px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    @include mobile {
      width: 50px;
      height: 50px;
    }
    width: 64px;
    height: 64px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }

  .swiper-button-next::before,
  .swiper-button-prev::before {
    @include lineAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 64px;
    color: $white;
    @include mobile {
      font-size: 36px;
      top: 9px;
      left: 10px;
    }
  }

  .swiper-button-next::before {
    content: "\f061";
  }

  .swiper-button-prev::before {
    content: "\f060";
  }
}
