// 메인 페이지 스타일
.slide-intro {
  .swiper-slide {
    width: 100%;
    height: 100vh;
    min-height: 500px;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .swiper-pagination {
    display: block;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

// tablet
@media screen and (min-width: 600px) {
  .slide-intro {
    .swiper-slide {
      min-height: 600px;
    }
  }
}

// desktop
@media screen and (min-width: 1024px) {
  .slide-intro {
    .swiper-slide {
      min-height: 700px;
    }
  }
}

.slide-studio {
  overflow: visible;
  margin-left: 0;
  .swiper-pagination {
    bottom: -50px;
  }
}
